<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <!--根日志-->
    <root>
      <level value="WARN"/>
      <appender-ref ref="DefaultLogFileAppender"/>
      <appender-ref ref="ConsoleAppender"/>
    </root>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender,log4net">
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n"/>
      </layout>
    </appender>
    <!--默认AOH日志-->
    <logger name="AohDefaultLog" additivity="false">
      <level value="INFO"/>
      <appender-ref ref="DefaultLogFileAppender"/>
    </logger>
    <appender name="DefaultLogFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" type="" value="log/"/>
      <param name="AppendToFile" value="true"/>
      <param name="RollingStyle" value="Date"/>
      <param name="DatePattern" value='yyyy-MM-dd".log"'/>
      <param name="StaticLogFileName" value="false"/>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="Header" value=""/>
        <param name="Footer" value=""/>
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n"/>
      </layout>
    </appender>
    <!--安邦保险访问消息-->
    <logger name="AnbangEnsurance" additivity="false">
      <level value="INFO" />
      <appender-ref ref="AnbangAppender" />
    </logger>
    <appender name="AnbangAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" type="" value="log/anbang/" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value='yyyy-MM-dd".log"' />
      <param name="StaticLogFileName" value="false" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="Header" value="" />
        <param name="Footer" value="" />
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
    </appender>
    <!--订阅的消息队列发过来消息-->
    <logger name="MQMessage" additivity="false">
      <level value="INFO" />
      <appender-ref ref="MQMessageAppender" />
    </logger>
    <appender name="MQMessageAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" type="" value="log/mq/" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value='yyyy-MM-dd".log"' />
      <param name="StaticLogFileName" value="false" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="Header" value="" />
        <param name="Footer" value="" />
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
    </appender>
    <!--严重错误信息-->
    <logger name="FatalError" additivity="false">
      <level value="INFO" />
      <appender-ref ref="FatalErrorAppender" />
    </logger>
    <!--Memcached错误-->
    <logger name="Memcached.ClientLibrary.MemcachedClient" additivity="false">
      <level value="ERROR" />
      <appender-ref ref="FatalErrorAppender" />
    </logger>
    <appender name="FatalErrorAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" type="" value="log/fatal/" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value='yyyy-MM-dd".log"' />
      <param name="StaticLogFileName" value="false" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="Header" value="" />
        <param name="Footer" value="" />
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
    </appender>
    <!--告警信息-->
    <logger name="WarnError" additivity="false">
      <level value="INFO" />
      <appender-ref ref="WarnErrorAppender" />
    </logger>
    <appender name="WarnErrorAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" type="" value="log/warn/" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value='yyyy-MM-dd".log"' />
      <param name="StaticLogFileName" value="false" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="Header" value="" />
        <param name="Footer" value="" />
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
    </appender>
    <!--管理审计日志-->
    <logger name="AuditInfo" additivity="false">
      <level value="INFO" />
      <appender-ref ref="AuditInfoAppender" />
    </logger>
    <appender name="AuditInfoAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" type="" value="log/audit/" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value='yyyy-MM-dd".log"' />
      <param name="StaticLogFileName" value="false" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="Header" value="" />
        <param name="Footer" value="" />
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
    </appender>
    <!--巨图相关日志-->
    <logger name="JutuLog" additivity="false">
      <level value="INFO" />
      <appender-ref ref="JutuLogAppender" />
    </logger>
    <appender name="JutuLogAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" type="" value="log/jutu/" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value='yyyy-MM-dd".log"' />
      <param name="StaticLogFileName" value="false" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="Header" value="" />
        <param name="Footer" value="" />
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
    </appender>
  </log4net>
</configuration>
